---
import Layout from '../layouts/Layout.astro';
import CoursesList from '../components/CoursesList.astro';
import HeaderCoursesList from '../components/HeaderCoursesList.astro';
import WeekActivitiesList from '../components/WeekActivitiesList.astro';
import Advertising from '../components/Advertising.astro';
---

<Layout>
	<main class="w-full">
		<Advertising />

		<section class="flex flex-col lg:grid lg:grid-cols-[1fr,1fr,1fr] items-start justify-center w-full p-6 lg:px-12 lg:py-0 lg:gap-4">
			
			<WeekActivitiesList />

			<div class=" flex flex-col w-full h-full mt-10 lg:mt-0 lg:col-start-1 lg:col-end-2 lg:row-start-1">
				<HeaderCoursesList />

				<CoursesList />
			</div>
		</section>
	</main>
</Layout>
