---
import Layout from "../layouts/Layout.astro";
import HeaderCourse from "../components/HeaderCourse.astro";
import ForumList from "../components/ForumList.astro";
import TaskList from "../components/TaskList.astro";

---
<Layout>
  <main class="w-full px-8">
    <HeaderCourse />
    <div class="flex flex-col gap-4 py-4 ">
      <div class="flex bg-white pt-4">
        <h1>Semana 02 - Tema 03: Tarea - Investiga una empresa donde te gustaría trabajar</h1>
      </div>
  </main>
</Layout>