---
import CourseCard from './CourseCard.astro';
---

<section class="flex flex-col gap-4 pb-6">
  <p class="font-extrabold text-gray-800 w-full border-b border-gray-800 pb-4">2025 - Ciclo 1 Marzo PREG (001) (Actual)</p>
  <div class="grid grid-cols-2 lg:grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3  gap-4 py-6">
    <CourseCard name="Calidad de servicio de TI" section="37218" mode="Virtual en vivo" progressPercentage={12} />
    <CourseCard name="Contabilidad General" section="20669" mode="Virtual en vivo" progressPercentage={32} />
    <CourseCard name="Diseño e Implementación de Arquitectura Empresarial" section="54317" mode="Virtual en vivo" progressPercentage={17} />
    <CourseCard name="Formación para la Empleabilidad" section="34231" mode="Virtual 24/7" progressPercentage={20} />
    <CourseCard name="Gestión de Riesgos Informáticos" section="37819" mode="Virtual en vivo" progressPercentage={13} />
    <CourseCard name="Curso Inteligencia de Negocios" section="34012" mode="Virtual en vivo" progressPercentage={11} />
    <CourseCard name="Planeamiento Estratégico de las Tics" section="37107" mode="Virtual en vivo" progressPercentage={13} />
  </div>
</section>