---
import { ApiPath } from '../utils/apiPath';

const { numberWeek } = Astro.props;
const fetchForums = async () => {
    const res = await fetch(`${ApiPath}forums`);
    if (!res.ok) {
        throw new Error("Failed to fetch forums");
    }
    return await res.json();
};
const forums = await fetchForums();
---

<div class="pt-4">
    <h2 class="font-bold text-xl">Foros - {numberWeek}</h2>
    <ul>
        {forums.map(forum => (
                <li key={forum.id} class="pt-2">{forum.name}</li>
        ))}
    </ul>
</div>
