---
import { Icon } from "astro-icon/components"

---

<div class="flex flex-row items-center justify-between bg-transparent min-h-[48px] py-4">
  <div class="flex flex-row gap-2"><h1 class="font-bold text-xl">Mis actividades </h1><span class="text-xl text-[#000f37] font-extrabold">(18)</span></div>
  <div class="flex flex-row items-center gap-1 cursor-pointer border-2 border-[#0661fc] rounded-md px-3 py-2 hover:bg-[rgba(6,96,252,0.1)] hover:scale-[105%] transition-all duration-200">
    <span class="text-[#0661fc] font-bold">Ordenar</span>
    <div class="border-[#0661fc] text-[#0661fc]">
      <Icon name="Sort" class="w-6 h-6" />
    </div>
  </div>
</div>