---
import Bell from "../icons/Bell.svg";
import Logo from "../icons/Logo.svg";
import Student from "../icons/Student.svg";
import Chevron from "../icons/ChevronDown.svg";
import Menu from "../icons/Menu.svg";
import { Icon } from "astro-icon/components";
---

<section class="bg-white flex flex-row items-center justify-between pr-5 md:px-10 sticky h-14 md:h-18">
  <a href="/" class="p-2 hidden md:block"><Icon name="Integral" /></a>
  <div class="w-fit h-full flex items-center justify-center md:hidden gap-x-4">
    <a href="" class="bg-[#000f37] w-14 h-14 flex flex-row items-center justify-center"><Menu class="size-7 text-white"/></a>
    <a href="/" class="p-2"><Icon class="h-4" name="Integral" /></a>
  </div>
  <div class="md:flex flex-row items-center justify-between gap-4 hidden">
    <Bell class="size-6 cursor-pointer"/>
    <div class="my-1 flex h-8 w-[0.5px] bg-black"></div>
    <div class="flex flex-row items-center justify-center gap-4">
      <div class="flex flex-col items-end justify-center cursor-pointer">
        <p class="text-sm">Hola, <strong>Leonardo</strong></p>
        <p class="text-xs text-gray-500">Estudiante</p>
      </div>
      <Student class="size-10" />
      <Chevron class="size-5 cursor-pointer"/>
    </div>
  </div>
  <Bell class="size-6 md:hidden cursor-pointer"/>
</section>
