<section class="flex flex-col w-full md:flex-row md:items-center items-center justify-center pb-6">
  <h1 class="text-gray-800 font-extrabold w-full text-left md:self-center mb-4">Mis cursos</h1>				
  <div class="flex flex-col md:flex-row md:items-center md:justify-end md:gap-2 w-full items-left">
    <p class="text-[14px]">Filtrar por</p>
    <div class="border border-gray-600 px-4 py-[8px] rounded bg-white text-gray-500 text-[14px]">Periodo actual</div>
  </div>
</section>