---
import { Icon } from "astro-icon/components";
import TopicWeek from "./TopicWeek.astro";

interface Props {
  numberWeek: string;
  topicsQuantity?: number
}

const { numberWeek, topicsQuantity } = Astro.props;

---


<div>
  <div class="flex flex-row justify-between bg-white border-l-8 border-[#0045ba] rounded-sm py-4 px-5 shadow-md cursor-pointer hover:bg-gray-50">
    <p class="text-xl font-bold">{numberWeek}</p>
    <div class="flex items-center justify-center">
      <Icon name="DropArrow" class="w-7 h-full" />
    </div>
  </div>
  <TopicWeek topicName="Tema 01" />
  <TopicWeek topicName="Tema 02" />
  <TopicWeek topicName="Tema 03" />
</div>