---
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>UTP+class</title>
	</head>
	<body class="bg-[rgb(239,246,255)] text-black w-full body">
		<Header />
		<Sidebar />
		<slot />
	</body>
</html>

<style>
	.body {
		font-family: "Lato", sans-serif;
		font-weight: 400;
		display: grid;
		grid-template-columns: 88px 1fr;
		grid-template-rows: 74px 1fr;
		grid-template-areas:
			"sidebar header"
			"sidebar main";
		min-height: 100vh;
	}

	@media (max-width: 768px) {
		.body {
			grid-template-columns: 1fr;
			grid-template-rows: auto 1fr;
			grid-template-areas:
				"header"
				"main";
		}
	}

	slot,
	main {
		grid-area: main;
	}
</style>
